{% extends "base.html" %}

{% block content %}
<div id="popup-here">
</div>

<h1 class="display-5">Sign up for aoauth</h1>
<div class="input-group mb-3">
    <span class="input-group-text">Username</span>
    <input type="text" id="username" class="form-control" placeholder="Username" aria-label="Username">
</div>
<div class="input-group mb-3">
    <span class="input-group-text">Password</span>
    <input type="password" id="password" class="form-control" placeholder="Password" aria-label="Password">
</div>
<div class="input-group mb-3">
    <span class="input-group-text">Password (repeat)</span>
    <input type="password" id="password-repeat" class="form-control" placeholder="Password (repeat)"
        aria-label="Password (repeat)">
</div>
<button class="btn btn-primary" id="submit">Sign up</button>

<script>
    document.getElementById("submit").onclick = async (event) => {
        let username = document.getElementById("username").value;
        let password = document.getElementById("password").value;
        let password_repeat = document.getElementById("password-repeat").value;

        if (password != password_repeat) {
            document.getElementById("popup-here").innerHTML = `<div class="alert alert-danger" role="alert">Passwords don't match.</div>`;
            return;
        }

        let response = await fetch("/signup", {
            method: "POST",
            headers: [["Content-Type", "application/json"]],
            body: `{"username": "${username}", "password": "${password}"}`,
        });
        if (response.status == 200) {
            window.location = "/";
        } else if (response.status == 409) {
            document.getElementById("popup-here").innerHTML = `<div class="alert alert-danger" role="alert">Username is taken.</div>`;
        }
    }
</script>
{% endblock %}
